@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的 ASP.NET 应用程序</title>
    <style>
        body {
            text-align: center;
        }

        .timeline {
            height: 35px;
            padding: 3px 0;
            background: rgba(0, 0, 0, 0.84);
            margin-top: 25px;
        }

        .timeline-control {
            float: left;
        }

            .timeline-control div {
                width: 35px;
                height: 35px;
                margin: 0 10px;
                cursor: pointer;
                float: left;
            }

        .timeline-control-prev {
            background: url(/Scripts/Timeline/images/prev.png);
        }

            .timeline-control-prev:hover {
                background: url(/Scripts/Timeline/images/prev_hover.png);
            }

        .timeline-control-play {
            background: url(/Scripts/Timeline/images/play.png);
        }

            .timeline-control-play:hover {
                background: url(/Scripts/Timeline/images/play_hover.png);
            }

        .timeline-control-pause {
            background: url(/Scripts/Timeline/images/pause.png);
        }

            .timeline-control-pause:hover {
                background: url(/Scripts/Timeline/images/pause_hover.png);
            }

        .timeline-control-next {
            background: url(/Scripts/Timeline/images/next.png);
        }

            .timeline-control-next:hover {
                background: url(/Scripts/Timeline/images/next_hover.png);
            }

        .timeline-slider {
            float: left;
        }

        .timeline-slider-tooltip {
            position: relative;
            top: -30px;
            background: white;
            padding: 3px;
        }

        .timeline-slider-bar {
            background-color: rgba(255, 255, 255, .42);
        }

        .timeline-slider-bar-progress {
            width: 289px;
            height: 7px;
            background: #00e5ff;
            box-shadow: 2px 0 6px #00e5ff;
        }

        .timeline-slider-content ul {
            padding: 0;
            margin: 0;
        }

        .timeline-slider-content li {
            float: left;
            width: 578px;
            list-style: none;
            color: white;
        }

            .timeline-slider-content li > span {
                position: relative;
                display: inline-block;
                height: 10px;
                border-left: 1px solid #eee;
                top: -7px;
            }

                .timeline-slider-content li > span.major {
                    border-left: 3px solid #eee;
                }

        .timeline-slider-content-label {
            position: relative;
            top: 7px;
        }
    </style>
</head>
<body>
    <div id="timeline" class="timeline">
        <div class="timeline-control">
            <div class="timeline-control-prev"></div>
            <div class="timeline-control-play"></div>
            <div class="timeline-control-next"></div>
        </div>
        <div class="timeline-slider">
            <div class="timeline-slider-tooltip"><label class="timeline-slider-tooltip-label">time0</label></div>
            <div class="timeline-slider-bar">
                <div class="timeline-slider-bar-progress"></div>
            </div>
            <div class="timeline-slider-content">
                <ul>
                    <li data-index="0" data-time="time0">
                        <span class="major"></span>
                        <label class="timeline-slider-content-label">time0</label>
                    </li>
                    <li data-index="1" data-time="time1">
                        <span class="major"></span>
                        <label class="timeline-slider-content-label">time1</label>
                    </li>
                    <li data-index="2" data-time="time2">
                        <span class="major"></span>
                        <label class="timeline-slider-content-label">time2</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        function MoveTo(index) {

        }

        function Move(move) {

        }

        function Build(data) {
            var $content = $("#timeline").find(".timeline-slider-content");
            for (var i in data) {

            }
        }

        $(document).ready(function () {
            var data = [];
            for (var i = 1900; i < 1911; i++) {
                data.push(i);
            }

            $(".timeline-control div").click(function () {
                console.log(this);
                if (this.className == "timeline-control-play") {
                    $(this).attr("class", "timeline-control-pause");
                } else if (this.className == "timeline-control-pause") {
                    $(this).attr("class", "timeline-control-play");
                } else if (this.className == "timeline-control-prev") {
                    Move(-1);
                } else {
                    Move(1);
                }
            });

            $(".timeline-slider-content span").each(function () {
                $(this).css("left", $(this).next().width() / 2 + 5 + "px");
            });
        });
    </script>
</body>
</html>
