@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<link href="~/Scripts/Timeline/css/timeline.css" rel="stylesheet" />

<div id="timeline" class="timeline">
    <div class="timeline-control">
        <div class="timeline-control-prev"></div>
        <div class="timeline-control-play"></div>
        <div class="timeline-control-next"></div>
    </div>
    <div class="timeline-slider">
        <div class="timeline-slider-tooltip"></div>
        <div class="timeline-slider-bar">
            <div class="timeline-slider-bar-progress"></div>
        </div>
        <div class="timeline-slider-content">
            <ul>
                <li>
                    <span id="timeline_1" class="timeline-slider-data" data-time="time1"></span>
                    <label class="timeline-slider-content-label">time1</label>
                </li>
                <li>
                    <span id="timeline_2" class="timeline-slider-data" data-time="time2"></span>
                    <label class="timeline-slider-content-label">time2</label>
                </li>
                <li>
                    <span id="timeline_3" class="timeline-slider-data" data-time="time3"></span>
                    <label class="timeline-slider-content-label">time3</label>
                </li>
                <li>
                    <span id="timeline_4" class="timeline-slider-data" data-time="time4"></span>
                    <label class="timeline-slider-content-label">time4</label>
                </li>
                <li>
                    <span id="timeline_5" class="timeline-slider-data" data-time="time5"></span>
                    <label class="timeline-slider-content-label">time5</label>
                </li>
                <li>
                    <span id="timeline_6" class="timeline-slider-data" data-time="time6"></span>
                    <label class="timeline-slider-content-label">time6</label>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>